html {
   scroll-behavior: smooth;
}

body {
  padding-top: 10px;
}

.navbar-brand{
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.navbar-brand:hover{
  transform: scale(1.08);
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);

}

.underline{
    font-weight: bold;
    border-bottom: 2px solid #0d6efd;
    color: #0d6efd;
}

.hero {
  font-family: 'Michroma', sans-serif;
  letter-spacing: 1px;
  background-image: url("assets/computer.jpg") ;
  background-size: cover;
  background-position: center;
  position: relative;
  color: white; /* για να φαίνεται το κείμενο */
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5); /* σκουραίνει την εικόνα */
}



.hero * {
  position: relative;
  z-index: 1;
}

.btn {
  
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.btn:hover {
  transform: scale(1.08);
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

.hero-content {
  opacity: 0;
  transform: translateY(30px);
  animation: fadeUp 1s ease forwards;
  animation-delay: 0.2s;
}

@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#education img {
  transition: transform 0.3s ease;
}

#education img:hover {
  transform: scale(1.05);
}

:root {
  --main-color: #0d6efd;
}

h2 {
  display: inline-block;
  padding: 10px 22px;
  border-radius: 30px;
  border: 2px solid var(--main-color);
  color: var(--main-color);
  font-weight: 600;
  transition: all 0.3s ease;
}

h2:hover {
  background-color: var(--main-color);
  color: white;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
  transform: translateY(-2px);
}

#about img {
  transition: transform 0.3s ease;
}

#about img:hover{
  transform: scale(1.05);
}

footer a {
  transition: 0.3s;
}

footer a:hover {
  transform: translateY(-3px);
  color: #0d6efd !important;
}

#contact form {
  padding: 20px;
  border-radius: 10px;
  background: #f8f9fa;
}

.email-box {
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  padding: 6px 10px;
  border: 2px solid #0d6efd;
  border-radius: 20px;
  background: #f8f9fa;
  width: fit-content;
}

.email-box a {
  text-decoration: none;
  color: #0d6efd;
  font-weight: 500;
}

.email-box:hover {
  background: #0d6efd;
}

.email-box:hover a {
  color: white;
}

.project-card{
  border: none;
  border-radius: 14px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

}

.project-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 12px 30px rgba(0,0,0,0.15);
}
.project-card img {
  height: 220px;
  object-fit: cover;
}